body {
  background-color: #f4f4f4;
}

.router-boot {
  position: relative;
  height: 100%;
}

.router-boot .is_valid {
  margin-top: 0;
}

.router-boot .output {
  display: none;
}

.router-boot .logo-wrap {
  margin-bottom: 20px;
}

.router-boot .input {
  margin: 5% 0;
  margin-bottom: 15%;
}

.router-boot .menu {
  padding-bottom: 100px;
  display: flex;
  justify-content: flex-end;
}

header {
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

.bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
  height: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  z-index: -10;
}

.bgb {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 15%;
  background-repeat: no-repeat;
}

.logo-wrap {
  margin-top: 15px;
  margin-bottom: 60px;
}

.op {
  opacity: 0;
}

.menu {
  padding: 0;
  margin-top: 15px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
}

.menu li {
  display: inline-block;
  padding: 0 20px;
}

.menu-wrap .menu li {
  list-style-type: none;
}

.menu-wrap .menu li a {
  font-size: 14px;
  font-family: "Geometria";
  color: #fff ;
  opacity: .9;
  transition: all .25s ease;
}

.menu-wrap .menu li a:hover {
  text-decoration: none;
  opacity: 1;
}

input, select {
  border-radius: 19px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 14.79px 2.21px rgba(0, 0, 0, 0.05);
  border: none;
  font-family: Montserrat;
  padding: 10px 25px;
}

.input-1 {
  width: 30%;
}

select {
  width: 95%;
}

.input-wrap {
  margin: 5px 0;
}

.output {
  margin-top: 5%;
}

.output h5 {
  font-size: 16px;
  opacity: .8;
  font-weight: 400;
  font-family: Montserrat;
}

table tr h5 {
  margin: 15px 0;
  margin-left: 5px;
}

.is_valid {
  margin-top: 30px;
  border-radius: 15px;
  width: 30%;
  font-family: Montserrat;
  color: #fff;
  font-weight: 700;
}

.button-wrap {
  margin-top: 30px;
  margin-bottom: 60px;
}

.button-wrap .button {
  border-width: 2px;
  border-color: rgb(3, 47, 117);
  border-style: solid;
  border-radius: 19px;
  padding: 10px 25px;
  font-size: 16px;
  font-family: Montserrat;
  color: rgba(3, 41, 110, 0.741);
  font-weight: bold;
  transition: all .25s ease;
}

.button-wrap .button img {
  padding-left: 25px;
}

.button-wrap .button:hover, .button-wrap .button:active {
  text-decoration: none;
  background-color: rgb(3, 47, 117);
  color: #fff;
}

.nav-tabs {
  display: flex;
  border-bottom: none;
}

.nav-tabs > li > a {
  font-size: 16px;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.8);
}

.nav-tabs > li {
  border-bottom: 2px solid #bababa;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #034086;
  color: #034086;
  font-weight: bold;
}

.text-wrap-router p {
  font-size: 14px;
  font-family: Montserrat;
  color: rgba(0, 0, 0, 0.851);
  line-height: 1.5;
  margin-top: 20px;
}


.text-descr {
  margin-top: 10%;
}

.text-descr p {
  padding: 0 0;
  font-size: 16px;
  font-family: Montserrat;
  line-height: 1.8;
}

.text-descr h1 {
  font-size: 22px;
  font-family: Montserrat;
  font-weight: bold;
}

.img-wrap {
  text-align: center;
}

.dovidka-wrap {
  position: absolute;
  right: 10px;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  opacity: 0;
}


.dovidka-wrap li {
  list-style-type: none;
}

.dovidka-wrap li a {
  color: #ffff;
}

.menu-wrap  {
  padding-top: 20px;
  position: relative;
}

.sub-menu-parent { position: relative; }

.sub-menu { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */

nav a { color: #FFA500; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #F55; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; }

nav > ul { background: #EEE; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu {
  background: #00008B;
  width: 150px;
  border-radius: 5px;
}

.sub-menu a {
  color: #000; !important
}

.sub-menu a:hover {
  color: #FFA500;
  text-decoration: none;
  transition: all .25s ease;
}

.menu-wrap a {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;

}

.menu-wrap a::hover {
  color: #FFA500;
}


nav > ul {
  background-color: transparent;
}

nav a {
  transition: all .25s ease;
}

nav a:hover {
  color: #FFA500;
  text-decoration: none;
}





@media only screen and (max-width : 1200px) {
.bg {
  width: 65%;
}
.bgb {
  display: none;
}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.bg {
  width: 60%;
}
.input-wrap input {
  width: 100%;
}
.input-wrap select {
  width: 100%;
}
}
  


/* Small Devices, Tablets */
@media only screen and (max-width : 768px){
.input-wrap input {
  width: 100%;
}
.input-wrap select {
  width: 100%;
}
.bg {
  width: 70%;
}
.is_valid {
  width: 60%
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.router-boot .menu {
  flex-direction: row;
}
.menu li {
  padding: 5px 0;
}
.input-1 {
  width: 60%;
}
.router-boot .menu li {
  padding: 0 5px;
}

nav > ul {
  display: flex;
  flex-direction: column;
}

.sub-menu {
  width: 100%;
}

nav > ul > li {
  border: none;
}

}





/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px){
.input, select {
  width: 100%;
}
.img-wrap-router img {
  width: 80%;
}
.bg {
  height: 100%;
}
.is_valid {
  width: 80%
}
.input-1 {
  width: 80%;
}
.tr {
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.button-wrap .button img {
  display: none;
}
.button-wrap .button {
  font-size: 12px;
  padding: 5px 10px;
  white-space: nowrap;
}
}




/* Custom, iPhone Retina */
@media only screen and (max-width : 320px){
  /**/
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

  /**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px){
  /**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px){

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px){
  /**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  /**/
}









  










