header {
  height: 100%;
  -webkit-background-size: cover;
   background-size: cover; 
  position: relative;
  padding: 12% 0;
}

.router-boot {
  -webkit-background-size: cover;
  background-size: cover;
}

.router-boot header {
  padding: 5%;
}

.router-boot .img-wrap {
  text-align: center;
}

.router-boot .img-wrap p {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.router-boot .selectize {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.router-boot .selectize h3 {
  width: 50%;
}

.router-boot .selectize .control-group {
  width: 50%;
}

.router-boot input {
  max-width: 50%;
}

h1, h2, h3, h4, h5, p, a {
  font-family: 'Montserrat', sans-serif;
}

.input h2 {
  color: #fff;
  opacity: .99;
  text-align: center;
  font-weight: 700;
  margin: 30px 0;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

table {
  width: 100%;
}

.input-wrap {
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  -ms-align-items: flex-end;
  align-items: flex-end;
  justify-content: center;
}
  
.input-wrap h3 {
  color: #fff;
  font-size: 16px;
  width: 100px;
}

.input-wrap input, select {
  padding: 5px 15px;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  opacity: .8;
  margin-left: 10px;
  border-radius: 10px;
  transition: all .25s ease;
}

.input-wrap input:focus {
  border: 1px #ffbb00 solid;
}

.is_valid {
  background-color: transparent;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  background-color: green;
}

.is_valid p {
  text-align: center;
  margin: 0;
}

.output h2 {
  text-align: center;
  color: #fff;
  opacity: .99;
  text-align: center;
  font-weight: 700;
  margin: 30px 0;
}

.output h5 {
  color: #fff;
  text-align: right;
  margin-right: 20px;
}

.output input {
  padding: 5px 15px;
  background-color: #fff;
  color: #000;
  border: none;
  font-family: 'Montserrat', sans-serif;
  opacity: .8;
  margin-left: 10px;
  border-radius: 10px;
  transition: all .25s ease;
}

.output input:focus {
  border: 1px #ffbb00 solid;
}

.tr {
  margin: 10px;
}

.router, .router-boot .output {
  display: none;

}
.router .section {
  padding: 20% 0;
}

p {
  font-size: 12px;
  line-height: 12px;

}

select {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
}

select:hover {
  cursor: pointer;
}

option:hover {
  background-color: #ffbb00;
  cursor: pointer;
}
a {
  font-weight: bold;
  color: #ffbb00;
  text-decoration: underline;
}
a:hover {
  color: #ffbb00;
}

.button-wrap {
  width: 100%;
  margin: 20px 0;
  text-align: center;
}

#button, button {
  background-color: #ffbb00;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}



.btn-primary {
  background-color: #ffbb00;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  text-transform: upper
}

.btn-primary.focus, .btn-primary:focus {
  background-color: #ffbb00;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  background-color: #ffbb00;
}

.btn-primary:hover, .btn-primary:active {
  cursor: pointer;
  background-color: #ffbb00;
}

.feed-info p {
  color: #000;
  font-size: 16px;
}
.feed-info {
  background-color: #fff;
  display: none;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  color: #ffbb00;
  text-decoration: none;
}

.nav-tabs > li > a:hover {
  background-color: none;
}

a:hover {
  background-color: #000;
  text-decoration: none;
}

.nav > li > a:focus, .nav > li > a:hover {
  background-color: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #ffbb00;
}
